<a href="https://colab.research.google.com/github/Aishasiddiqui97/Assigments/blob/main/AS_ASSIGMENT09_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class_09

Try Except = Error Handling

** Class Assignment 09 **

User_Input = Input ("Entre Your Number")
Creat Table
User InterFace Table

In [ ]:
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")

    print(f"Multiplication Table of {num}:\n")
    for i in range(1, 20):
        print(f"{num} x {i} = {num * i}")

except ValueError:
    print("Invalid Input! Please Enter a Valid Number.")

Enter a Number: 77
You Entered: 77

Multiplication Table of 77:

77 x 1 = 77
77 x 2 = 154
77 x 3 = 231
77 x 4 = 308
77 x 5 = 385
77 x 6 = 462
77 x 7 = 539
77 x 8 = 616
77 x 9 = 693
77 x 10 = 770
77 x 11 = 847
77 x 12 = 924
77 x 13 = 1001
77 x 14 = 1078
77 x 15 = 1155
77 x 16 = 1232
77 x 17 = 1309
77 x 18 = 1386
77 x 19 = 1463

In [ ]:
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")

    print(f"Multiplication Table of {num}:\n")
    for i in range(1, 21):
        print(f"{num} x {i} = {num * i}")

except ValueError:
    print("Invalid Input! Please Enter a Valid Number.")

Enter a Number: 700
You Entered: 700

Multiplication Table of 700:

700 x 1 = 700
700 x 2 = 1400
700 x 3 = 2100
700 x 4 = 2800
700 x 5 = 3500
700 x 6 = 4200
700 x 7 = 4900
700 x 8 = 5600
700 x 9 = 6300
700 x 10 = 7000
700 x 11 = 7700
700 x 12 = 8400
700 x 13 = 9100
700 x 14 = 9800
700 x 15 = 10500
700 x 16 = 11200
700 x 17 = 11900
700 x 18 = 12600
700 x 19 = 13300
700 x 20 = 14000

In [ ]:
import calendar

# User input with error handling
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")
except ValueError:
    print("Invalid Input! Please enter a valid number.")
    num = None

# Calendar Example
try:
    year = int(input("\nEnter a Year to Display the Calendar: "))
    print(calendar.calendar(year))  # Display full year's calendar
except ValueError:
    print("Invalid Year! Please enter a valid number.")

Enter a Number: 2027
You Entered: 2027


Enter a Year to Display the Calendar: 2027
                                  2027

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [ ]:
num1 = int(input('Enter A Number:'))

for i in range(1,30):
    print(f'{num1}x{i} ={num1*i}')
    i +=1

Enter A Number:27
27x1 =27
27x2 =54
27x3 =81
27x4 =108
27x5 =135
27x6 =162
27x7 =189
27x8 =216
27x9 =243
27x10 =270
27x11 =297
27x12 =324
27x13 =351
27x14 =378
27x15 =405
27x16 =432
27x17 =459
27x18 =486
27x19 =513
27x20 =540
27x21 =567
27x22 =594
27x23 =621
27x24 =648
27x25 =675
27x26 =702
27x27 =729
27x28 =756
27x29 =783