<a href="https://colab.research.google.com/github/Aishasiddiqui97/Assigments/blob/main/ASCLASS_06CLASSWORK_%26ASSIGMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class_06

Coding Work With Python By Sir Aneeq

Range Function/Method
1.starting point
2.condition
3.increment
Multiplication Table - Aam Zindagi
Multiplication Table - Mintos Zindagi # (Indentation)
& (F-String)

Loops

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x = range(1, 10)
print(numbers)
print(list(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
num: int = 3
print("3x 1 =", num * 1)
print("3 x 2 =", num * 2)
print("3 x 3 =", num * 3)
print("3 x 4 =", num * 4)
print("3 x 5 =", num * 5)
print("3 x 6 =", num * 6)
print("3 x 7 =", num * 7)
print("3 x 8 =", num * 8)
print("3 x 9 =", num * 9)
print("3 x 10 =", num * 10)

3x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
num: int = 4
print("4 x 1 =", num * 1)
print("4 x 2 =", num * 2)
print("4 x 3 =", num * 3)
print("4 x 4 =", num * 4)
print("4 x 5 =", num * 5)
print("4 x 6 =", num * 6)
print("4 x 7 =", num * 7)
print("4 x 8 =", num * 8)
print("4 x 9 =", num * 9)
print("4x 10 =", num * 10)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4x 10 = 40

In [ ]:
num: int = 5
print("5 x 1 =", num * 1)
print("5 x 2 =", num * 2)
print("5 x 3 =", num * 3)
print("5 x 4 =", num * 4)
print("5 x 5 =", num * 5)
print("5 x 6 =", num * 6)
print("5 x 7 =", num * 7)
print("5 x 8 =", num * 8)
print("5 x 9 =", num * 9)
print("5 x 10 =", num * 10)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

2. Loops

# A. For Loop
# B. While Loop

# While Loop

# PS Check with While Loop

In [ ]:
num = 2
while num < 10:
    print("number before increment:", num)
    num += 1
print("number after increment:", num)

number before increment: 2
number before increment: 3
number before increment: 4
number before increment: 5
number before increment: 6
number before increment: 7
number before increment: 8
number before increment: 9
number after increment: 10

In [ ]:
password: str = "python123"
user_input: str = ""

while user_input != password:
    print("Incorrect password!")
    user_input = input("Type your password: ")

print("Correct password! Welcome!")

Incorrect password!
Type your password:
Incorrect password!
Type your password: python123
Correct password! Welcome!


Integer
Boolean
List (Mutable)
Tuple (Immutable)
Lists & Tuples
List Example (Mutable)
Tuple Example (Immutable)

In [ ]:
numbers = [1, 2, 3, 4, 5]
names1 = ["Ali", "asad", "aisha", "moazzam"]
names2 = ("Ali", "asad", "aisha", "moazzam")

print("names1 before overwrite:", names1)
names1[1] = "Abdullah"
print("names1 after overwrite:", names1)

print("names2 is immutable:", names2)

print("List first name is:", names1[0])
print("Tuple first name is:", names2[0])

names1 before overwrite: ['Ali', 'asad', 'aisha', 'moazzam']
names1 after overwrite: ['Ali', 'Abdullah', 'aisha', 'moazzam']
names2 is immutable: ('Ali', 'asad', 'aisha', 'moazzam')
List first name is: Ali
Tuple first name is: Ali

In [ ]:
Class_06 = "Coding Work With Python By Sir Aneeq ,Sir Aleem"
print(Class_06)

numbers =  [1,2,3,4,5,6,7,8,9]
x = range(1,10)

print(numbers)
print(list(x))

num: int = 7
print("7 x 1 =", num * 1  )
print("7 x 2 =", num * 2  )
print("7 x 3 =", num * 3  )
print("7 x 4 =", num * 4  )
print("7 x 5 =", num * 5  )
print("7 x 6 =", num * 6  )
print("7 x 7 =", num * 7  )
print("7 x 8 =", num * 8  )
print("7 x 9 =", num * 9  )
print("7 x 10 =", num * 10 )

for num in range(1,11):
     print("2 x",num , "=", 2 * num)
     print(f"2 x {num} = {2 * num}")

num = 1
num = num + 1
print("Num First Time", num)
num = num + 1
print("Num Second Time", num)
print(num < 10)
while num >= 10:
     print("Number Before Increment", num)
num = num + 1
print("Number After Increment", num)

password: str = "Python123"
user_input: str = ""

print("user_input != password is",user_input != password)
while user_input == password:
     print("Correct Password")
user_input = input("Type Your Answer Please")
print("Correct Password is Welcome")

numbers = [1,2,3,4,5]

names1 = ["Ali","Bilal","Hamza","Okasha"]

names2 = ("Ali", "Bilal", "Hamza", "Okasha")
name: str  = "Ali"
name  = "Bilal"
print("name is", name)

print("Names1 Before Over Write", names1)
Bilal    =  "Abdullah"
names1[2] = "Abdullah"
print("Names1 After Over Write", names1)


print("Names2 Before Over Write", names2)
Bilal    =  "Abdullah"
names1 = "Abdullah"
print("Names2 After Over Write", names2)


print("List First Name is", names1[0])
print("Tuple First Name is", names2[0])

Coding Work With Python By Sir Aneeq ,Sir Aleem
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
2 x 1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 2 = 4
2 x 3 = 6
2 x 3 = 6
2 x 4 = 8
2 x 4 = 8
2 x 5 = 10
2 x 5 = 10
2 x 6 = 12
2 x 6 = 12
2 x 7 = 14
2 x 7 = 14
2 x 8 = 16
2 x 8 = 16
2 x 9 = 18
2 x 9 = 18
2 x 10 = 20
2 x 10 = 20
Num First Time 2
Num Second Time 3
True
Number After Increment 4
user_input != password is True
Type Your Answer Pleaseali
Correct Password is Welcome
name is Bilal
Names1 Before Over Write ['Ali', 'Bilal', 'Hamza', 'Okasha']
Names1 After Over Write ['Ali', 'Bilal', 'Abdullah', 'Okasha']
Names2 Before Over Write ('Ali', 'Bilal', 'Hamza', 'Okasha')
Names2 After Over Write ('Ali', 'Bilal', 'Hamza', 'Okasha')
List First Name is A
Tuple First Name is Ali